---
import Logo from './ApteroLogo.astro'
import Themetoggle from './Themetoggle.astro'
import GetSticky from './SpecialPrompts.astro'
import CustomGreetings from './CustomGreetings.astro'
import Layout from "../layouts/Layout.astro";
---
<header id="header" style="font-family: 'Montserrat', sans-serif;">

  <div class="fb items-center">
    <GetSticky /> <!-- There used to be more content here so I'll leave it here just in case -->
  </div>
  <div class="fi mt-2" style="display: inline; text-align: center;">
    <section style="display: flex; justify-content: center;">
      <img src="/mwn_logo.png" alt="Logo" />
    </section>
    <span style="display: flex; height: 8px;"></span> <!-- spacer -->
    <section>
      <CustomGreetings/>
      <span id="customGreetings"></span>
    </section>
    
  </div>
  
</header>
