---
import Logo from './ApteroLogo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Hello ! I'm </span>
    <span class="gpt-subtitle">Aptero</span>
    <span class="gpt-title">'s AI</span>
  </div>
  <p mt-1 op-60>Chatbot based on OpenAI's ChatGPT API (gpt-3.5-turbo).</p>
</header>
